@model IEnumerable<EvidencePojisteni.Models.AssignedInsurance>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insurance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Insured)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insurance.InsuranceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Insured.City)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AssignedInsuranceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AssignedInsuranceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AssignedInsuranceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
